%h1 Upload files the smarter way
.form_wrapper
  %form{ action: "/upload", method: "post", enctype: "multipart/file" }
    %input#upload-file{ type: "file"}
	.progress{style: "width: 50%"}
	  .bar
  %form{ action: "/save", method: "post" }
    %textarea{name: "upload-description"}
    %input{ type: "submit", value: "Save"}